.no-box {
    /* Remove default styling */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    
    /* Add your own custom styling */
    border: hidden;
    width: 25px;
    outline: none;
  }

.no-box::-webkit-inner-spin-button,
.no-box::-webkit-outer-spin-button {
    appearance: none;

}
  